<!DOCTYPE html>
<html lang="en"style="overflow-y: visible;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Молодь проти війни</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')  }}"  >
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<style>
    html,
    body {
      position: relative;
      height: 100vh;
    }
  
    body {
        background: #F1D8BE;
  
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
      align-items: center;
          }
</style>
</head>
<body>
  <header  style="height: 15%; background: rgba(197, 158, 119, 0.69); width: 100%; position: relative; " >
      
       
            
    <img src="static/img/image_2023-02-12_17-46-10 1 (1).png"  style="margin-top: 0.65%; margin-left: 13%; width: 6%; user-select: none;">
  
  
    <h1 id="title">ОЗ "Спеціалізована загальноосвітня школа-інтернат<br>"Болградська гімназія ім. Г.С. Раковського"</h1>
  

</header>
<section class="subheader" style="height: 7%; position: relative;">
  <a href="{{domain}}" style="position: absolute; top: 10%; padding-top: 0.5%; left: 13.2%;  "><p class="navs" style="font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    line-height: 1.25vw;
    
    /* identical to box height */
    user-select: none;
    
    color: #FFFFFF;">Головна</p></a>
    <a href="{{domain}}/history.html" style="position: absolute; top: 10%; padding-top: 0.5%; left: 20.0%;  "><p class="navs" style="font-family: 'Open Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 1vw;
      line-height: 1.25vw;
      
      /* identical to box height */
      user-select: none;
      
      color: #FFFFFF;">Про заклад</p></a>
      <a href="{{domain}}/attention.html" style="position: absolute; top: 10%; padding-top: 0.5%; left: 28.2%;  "><p class="navs" style="font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 1vw;
        line-height: 1.25vw;
        
        /* identical to box height */
        user-select: none;
        
        color: #FFFFFF;">Новини</p></a>
        

<a href="https://nz.ua/school/wall?id=22336"target="_blank" style="position: absolute; top: 10%; padding-top: 0.5%; left: 35.0%;  "><p class="navs" style="font-family: 'Open Sans';
font-style: normal;
font-weight: 500;
font-size: 1vw;
line-height: 1.25vw;

/* identical to box height */
user-select: none;

color: #FFFFFF;">Електронний щоденник</p></a>
<a href="{{domain}}/news.html"target="_blank" style="position: absolute; top: 10%; padding-top: 0.5%; left: 50.0%;  "><p class="navs" style="font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 1.25vw;
  
  /* identical to box height */
  user-select: none;
  
  color: #FFFFFF;">Дошка оголошень</p></a>

   
  

</section>

<div style="background: #5B1818;
/* light green */

border: 1px solid #E3E8E4;
border-radius: 15px;
/* light green */
position: relative;

height: 8%;
width: 90%;
margin-left: 4.8%;
margin-top: 2%;">
<a href="/attention.html" style="position: absolute; top: 10%; padding-top: 0.75%; left: 13.5%;  "><p class="navs" style="font-family: 'Open Sans';
font-style: normal;
font-weight: 500;
font-size: 1.0vw;
line-height: 1.25vw;

/* identical to box height */
user-select: none;

color: #FFFFFF;">Надзвичайна ситуація</p></a>

<a href="/youth-against-war.html" style="position: absolute; top: 10%; padding-top: 0.75%; left: 34%;  "><p class="navs" style="font-family: 'Open Sans';
font-style: normal;
font-weight: 500;
font-size: 1.0vw;
line-height: 1.25vw;

/* identical to box height */
user-select: none;

color: #FFFFFF;">Молодь проти війни!!!</p></a>
<a href="/prevention.html" style="position: absolute; top: 10%; padding-top: 0.75%; left: 53.5%;  "><p class="navs" style="font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 1.0vw;
line-height: 1.25vw;

/* identical to box height */
user-select: none;
white-space: nowrap;
color: #FFFFFF;">Профілактика COVID-19</p></a>

<a href="/gymnasium-day.html" style="position: absolute; top: 10%; padding-top: 0.75%; left: 73%;  "><p class="navs" style="font-family: 'Open Sans';
font-style: normal;
font-weight: 500;
font-size: 1.0vw;
line-height: 1.25vw;

/* identical to box height */
user-select: none;
white-space: nowrap;
color: #FFFFFF;">День Гімназії</p></a>

</div>
<div style="background: #422712;
border-radius: 30px; max-width: 30%; min-height: 8%;text-align: center; margin-left: 35%; margin-top: 3%;"><span style="font-family: 'PT Serif';
font-style: normal;
font-weight: 400;
font-size: 40px;text-align: center;
line-height: 80px;
/* identical to box height */


color: #F1D8BE;
"> Профілактика COVID-19 </span></div>

<iframe width="920" height="500" style="margin-left: 20%; margin-top: 3%;" src="https://www.youtube.com/embed/ctflKSjyD9I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="920" height="500" style="margin-left: 20%; margin-top: 3%;" src="https://www.youtube.com/embed/eJlj2MsJeR8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="920" height="500" style="margin-left: 20%; margin-top: 3%;" src="https://www.youtube.com/embed/paNQt_eDisQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="920" height="500" style="margin-left: 20%; margin-top: 3%;" src="https://www.youtube.com/embed/XlMmLjP49LU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<iframe width="920" height="500" style="margin-left: 20%; margin-top: 3%;" src="https://www.youtube.com/embed/NvCkJ_y4VKM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<footer class="subfooter" style="background: #EACBAB; margin-top: 5%; position: relative;">
  <img src="static/img/image_2023-02-12_17-46-10 1 (1).png" style="position: absolute;
  border-radius: 103px;
  width: 10.7%;
  left: 7.2%;
  top: 30%;
  user-select: none;
  
    ;" alt="">
   <span style="font-family: 'Playfair Display';
   white-space: nowrap;
    max-width: 31.5%;
   font-style: normal;
   font-weight: 400;
   font-size: 2vw;
   line-height: 2.25vw;
   position: absolute;
   left: 18.3%;
   top: 35%;
   user-select: none;
   color: #422712;
   ">ОЗ "Спеціалізована загальноосвітня<br> школа-інтернат "Болградська гімназія<br> ім. Г.С. Раковського"</span>  
  <div style="font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 1.25vw;
  position: absolute;
  top: 75%;
  white-space: nowrap;
  left: 18%;
  max-width: 24%;
  user-select: none;
  color: #7A5B44;">Дизайн та розробка: Желяскова Валерія та Жолтов Юрій  </div>



<img src="static/img/icons8-список-звонков-50 1.png" style="width: 2.6%;position: absolute;
top: 30%;

left: 53%;" alt="">

<a href="tel:+380484641307" style="position: absolute; font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 1.75vw;
   line-height: 1.55vw;
position: absolute;
top: 33%;

left: 56%;
max-width: 24%;

color: #422712;">(04846)41307</a>

<div style="border: 1px solid; width: 21.3%; position: absolute; left: 53%; top: 45%; color: #422712;"></div>



<img src="static/img/icons8-google-карты-24 1.png" style="width: 2.1%;position: absolute;
top: 45%;

left: 53%;" alt="">

<address style="position: absolute; font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 1.75vw;
   line-height: 1.55vw;
position: absolute;
top: 48%;

left: 56%;
max-width: 24%;
user-select: none;
color: #422712;">вул. Училищна, Болград</address>

<div style="border: 1px solid; width: 21.3%; position: absolute; left: 53%; top: 60%;color: #422712;"></div>


<img src="static/img/icons8-сообщение-с-заливкой-30 1.png" style="width: 2.2%;position: absolute;
top: 62%;

left: 53%;" alt="">

<address style="position: absolute; font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 1.75vw;
   line-height: 1.55vw;
position: absolute;
top: 63%;

left: 56%;
max-width: 24%;
user-select: none;
color: #422712;">gimnaziya_bol@ukr.net</address>

<div style="border: 1px solid; width: 21.3%; position: absolute; left: 53%; top: 75%;color: #422712;"></div>


<a href="https://instagram.com/bolgrad_himnazia_rakovski?igshid=YmMyMTA2M2Y=" style="">
  <img src="static/img/icons8-instagram-30 (1) 1.png" style="width: 3.2%; position: absolute; top: 37%; left: 75.5%;" alt="">

</a>

<a href="https://www.facebook.com/people/%D0%91%D0%BE%D0%BB%D0%B3%D1%80%D0%B0%D0%B4%D1%81%D0%BA%D0%B0%D1%8F-%D0%B3%D0%B8%D0%BC%D0%BD%D0%B0%D0%B7%D0%B8%D1%8F-%D0%B8%D0%BC-%D0%93%D0%A1-%D0%A0%D0%B0%D0%BA%D0%BE%D0%B2%D1%81%D0%BA%D0%BE%D0%B3%D0%BE/100054674880271/" style="">
  <img src="static/img/icons8-facebook-24 1.png" style="width: 2.5%; position: absolute; top: 55%; left: 75.9%;" alt="">

</a>

<img src="static/img/image 1.png" style="width: 23%; position: absolute; top: 10%; left: 78%;" alt="">

  
  <div style="
  
  background: #EACBAB;
  filter: blur(1vw);
  height: 20%;
  position: absolute;
  top: -15%;
  width: 105%;
  left: -2%;
  width: 105%;"></div>

</footer>
</html>